<br>
<h1>
  BUY THESE TUNES, BRUH.
</h1>
<p>PRE-ORDERS AVAILABLE, ALL SALES FINAL.</p>

<h2>Marketplace</h2>

<ul>
  <div *ngFor="let album of albums | async">
    <div class="card">
      <li class="card-body">
        <h3 (click)="goToDetailPage(album)"><em>{{album.title}}</em></h3> <h3>{{album.artist}}</h3>
        <div *ngIf="currentRoute === '/admin'">
          {{album.description}}
          <hr>
          <app-edit-album [selectedAlbum]="album"></app-edit-album>
        </div>
      </li>
    </div>
  </div>
</ul>