/* You can add global styles to this file, and also import other style files */
html, body { 
  background: url('http://www.yim778.com/data/out/15/679999.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family:monospace;
    text-align: center;
    background-color: black;
    color: white;
}

a {
    font-size: 2vw;
    color: rgb(203, 191, 173);
}

a:hover {
    color: rgb(187, 150, 0);
    text-shadow: 0 0 12px cornsilk;
    text-decoration: none;
}

#cdr:hover {
    filter: hue-rotate(70deg);
}

.card, .card-body {
    background-color: rgb(70, 70, 70);
}