/* You can add global styles to this file, and also import other style files */
html, body { 
  background: url('https://i.pinimg.com/originals/a4/94/b6/a494b6794e5e576e41aef264633417af.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family:monospace;
    text-align: center;
    background-color: black;
    color: white;
}

a {
    font-size: 2vw;
    color: rgb(203, 191, 173);
}

a:hover {
    color: rgb(187, 150, 0);
    text-shadow: 0 0 12px cornsilk;
    text-decoration: none;
}

#cdr:hover {
    filter: hue-rotate(70deg);
}

.card, .card-body {
    background-color: rgba(103, 103, 103, 0.5);
    color: white;
    font-size: 2.5vw;
}

button {
    background-image: url('https://i.pinimg.com/originals/a4/94/b6/a494b6794e5e576e41aef264633417af.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 3vw;
    color: white;
    text-shadow: 0 0 1vw red;
}